{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}

{% block title %}Linty - {{ object.short_sha }}{% endblock %}

{% block body %}
    <div class="ui text menu">
        <div class="ui item">
            <div class="ui large breadcrumb">
                {% if user.is_authenticated %}
                    <a href="{% url 'repo_list' %}" class="section">Dashboard</a>
                    <i class="right chevron icon divider"></i>
                {% endif %}
                {% if not repo.is_private or is_owner %}
                    <a href="{% url 'repo_detail' full_name=repo.full_name %}" class="section">
                        {{ repo.full_name }}
                    </a>
                    <i class="right chevron icon divider"></i>
                {% endif %}
                <div class="active section">{{ object.ref }} : {{ object.short_sha }}</div>
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="ui right dropdown item">
                {{ user.username }}
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="{% url 'logout' %}{% if not repo.is_private or is_owner %}?next={{ request.path }}{% endif %}"
                       class="item">Log Out</a>
                </div>
            </div>
        {% else %}
            {% if DEBUG %}
                <div class="ui right item">
                <a href="{% url 'admin:login' %}" class="ui blue basic button">Log in</a>
            </div>
            {% else %}
                <div class="ui right item">
                <a href="{% url 'login' %}" class="ui blue basic button">Log in</a>
            </div>
            {% endif %}
        {% endif %}
    </div>

    <div class="ui horizontal segments">
        <div class="ui segment">
            <div class="ui text {% if object.status == 'success' %}green{% elif object.status == 'pending' %}yellow{% else %}red{% endif %}">
                <i class="large icon {% if object.status == 'success' %}check{% elif object.status == 'pending' %}wait{% else %}warning circle{% endif %}"></i>
                {{ object.status }}
            </div>
        </div>
        <div class="ui segment">
            {% if not issues %}
            <i class="large icon fork"></i>
            <a href="https://github.com/{{ repo.full_name }}/tree/{{ object.ref }}">{{ object.ref }}</a>
            {% else %}
                {% for issue in issues %}
                    <div>
                        <i class="large icon fork"></i>
                        <a href="{{ issue.html_url }}">#{{ issue.number }} {{ issue.title }}</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="ui segment">
            <i class="large icon clock"></i>
            {{ object.created_at|naturaltime }}
        </div>
        <a class="ui segment" href="{% url 'rebuild' pk=object.id %}">
            <i class="large icon repeat"></i>
            Re-Run
        </a>
    </div>

    {% for result in results %}
        {% with output=result.output %}
            <div class="ui styled fluid accordion">
                <div class="title {{ output|yesno:"active," }}">
                    <i class="dropdown icon"></i>
                    {{ result.get_linter_display }}
                </div>
                <div class="content {{ output|yesno:"active," }}">
                    <div class="ui form transition {{ output|yesno:",hidden" }}">
                        <div class="field">
                            <textarea readonly>{{ output|default_if_none:"" }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}
    {% endfor %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $('.ui.accordion').accordion();
        $("textarea").each(function () {
            this.style.height = (this.scrollHeight)+'px';
        });
    </script>
{% endblock %}