{% load humanize %}

<ul>
    {% if user.is_authenticated %}
    <li><a href="{% url 'logout' %}{% if not object.repo.is_private or owner %}?next={{ request.path }}{% endif %}">Log out</a></li>
    <li><a href="{% url 'repo_list' %}">Back to Repos</a></li>
    {% else %}
    <li><a href="{% url 'login' %}">Log in</a></li>
    {% endif %}
    {% if not repo.is_private or owner %}
    <li><a href="{% url 'repo_detail' full_name=repo.full_name %}">Back to Repo</a></li>
    {% endif %}
</ul>

<h2>{{ object.repo.full_name }} : {{ object.short_sha }}</h2>

<ul>
    <li>Branch: {{ object.ref }}</li>
    <li>Status: {{ object.status }}</li>
    <li>Time: {{ object.created_at|naturaltime }}</li>
</ul>

<label>
    Results
    <br/>
    <textarea readonly style="height: 500px; width: 500px;">{{ object.result|default_if_none:"" }}</textarea>
</label>
