{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}

{% block title %}Linty - {{ object.full_name }}{% endblock %}

{% block body %}
    <div class="ui text menu">
        <div class="ui item">
            <div class="ui large breadcrumb">
                {% if user.is_authenticated %}
                    <a href="{% url 'repo_list' %}" class="section">Dashboard</a>
                    <i class="right chevron icon divider"></i>
                {% endif %}
                <div class="active section">{{ object.full_name }}</div>
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="ui right dropdown item">
                {{ user.username }}
                <i class="dropdown icon"></i>
                <div class="menu">
                    {% if user.is_staff %}
                        <a class="item" href="{% url 'timeline' %}">Timeline</a>
                    {% endif %}
                    <a href="{% url 'logout' %}{% if not object.is_private or is_owner %}?next={{ request.path }}{% endif %}"
                       class="item">Log Out</a>
                </div>
            </div>
        {% else %}
            {% if DEBUG %}
                <div class="ui right item">
                <a href="{% url 'admin:login' %}" class="ui blue basic button">Log in</a>
            </div>
            {% else %}
                <div class="ui right item">
                <a href="{% url 'login' %}" class="ui blue basic button">Log in</a>
            </div>
            {% endif %}
        {% endif %}
    </div>

    {% if is_owner %}
        <div class="ui text menu">
            <div class="ui item">
            <h2>
                {% if ref %}
                    ref: {{ ref }} (<a href="{% url 'repo_detail' full_name=object.full_name %}">View All</a>)
                {% else %}
                    All Builds
                {% endif %}
            </h2>
            </div>
            <div class="ui right item">
                <button id="settings" class="ui icon right aligned big basic black button" data-inverted="" data-position="bottom right" data-tooltip="Settings">
                    <i class="icon setting"></i>
                </button>
            </div>
        </div>
    {% else %}
    <h2 class="ui header">
        {% if ref %}
            ref: {{ ref }} (<a href="{% url 'repo_detail' full_name=object.full_name %}">View All</a>)
        {% else %}
            All Builds
        {% endif %}
    </h2>
    {% endif %}
    {% if builds %}
        <table class="ui very basic selectable table">
            <thead>
            <tr>
                <td>Status</td>
                <td>SHA</td>
                <td>Branch</td>
                <td>Time</td>
            </tr>
            </thead>
            <tbody>
            {% for build in builds %}
                <tr>
                    <td>
                        <div class="ui text {% if build.status == 'success' %}green{% elif build.status == 'pending' %}yellow{% else %}red{% endif %}">
                            <i class="large icon {% if build.status == 'success' %}check{% elif build.status == 'pending' %}warning triangle{% else %}warning circle{% endif %}"></i>
                            {{ build.status }}
                        </div>
                    </td>
                    <td>
                        <a href="{% url 'build_detail' pk=build.pk %}">{{ build.short_sha }}</a>
                    </td>
                    <td>
                        <a href="{% url 'repo_detail' full_name=object.full_name %}?ref={{ build.ref }}">{{ build.ref }}</a>
                    </td>
                    <td>{{ build.created_at|naturaltime }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Builds will show here once you push commits to the repo.</p>
    {% endif %}

    {% include 'interface/repo_pagination.html' %}

    <div id="stop_linting_modal" class="ui small basic modal">
        <div class="ui icon header">
            <i class="archive icon"></i>
            Stop Linting
        </div>
        <div class="content">
            <p>
                Are you sure you want to stop linting "<b>{{ object.full_name }}</b>"?
                All previous builds will be preserved, but future builds will cease.
            </p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                No
            </div>
            <div id="confirm_button" class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </div>
    </div>

    <div id="settings_modal" class="ui small modal">
        <div class="header">
            Repository Settings
        </div>
        <div class="content">
            <form id="settings_form" action="" method="POST" class="ui form">
                {% csrf_token %}
                <div class="fields">
                    <div class="eight wide field">
                        <label for="default_branch">Default Branch</label>
                        <select name="default_branch" id="default_branch" class=" ui search dropdown">
                            {% for branch in branches %}
                                <option value="{{ branch }}" {% if object.default_branch == branch %}selected=""{% endif %}>{{ branch }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="eight wide field">
                        <label for="badge_input">Badge Markdown</label>
                        <div class="ui action input">
                            <input id="badge_input" type="text" readonly value="![Linty]({{ badge_url }})]({{ absolute_url }})">
                            <div class="ui blue icon button copy_button right labeled" data-clipboard-target="#badge_input" data-inverted="">
                                <i class="copy icon"></i>
                                Copy
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    You may copy the markdown above and place it in your repo's README.md file to get a badge showing the pass/fail status of your default branch.
                    The badge will link to this page.
                </p>
                <div class="ui divider"></div>
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input name="statuses" id="statuses" type="checkbox" {% if object.webhook_id %}checked=""{% endif %} />
                        <label for="statuses">Status Checks on GitHub</label>
                    </div>
                </div>
                <p>
                    Enable Status Checks to get Linty status checks in your Pull Requests and commits.
                    You can enforce style code adherence by making Linty a <a href="https://help.github.com/articles/enabling-required-status-checks/">required status check</a>.
                </p>
            </form>
            <h4 class="ui horizontal divider header">
              Permissions
            </h4>
            <p>
                Linty respects the same permissions as GitHub. If your repo is public, then this page and all builds are public.
                However, only collaborators may access these settings.
                If your repo is private, only collaborators of the repository can see this page or any builds.
                Linty staff may see all pages, for support purposes.
            </p>
        </div>
        <div class="actions">
            <div class="ui left aligned red button" id="stop_linting">
                Stop Linting
            </div>
            <div class="ui gray cancel button">
                <i class="remove icon"></i>
                Cancel
            </div>
            <div id="save_button" class="ui green ok button">
                <i class="checkmark icon"></i>
                Save
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
    <script type="text/javascript" src="{% static 'js/repo_detail.js' %}"></script>
{% endblock %}
