{% extends 'base.html' %}

{% block title %}Linty - Repos{% endblock %}

{% block body %}
    <div class="ui main text container">
        <div class="ui text menu">
            <div class="ui item">
              <h1 class="ui header">Dashboard</h1>
            </div>
            <div class="ui right dropdown item">
                {{ user.username }}
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="{% url 'logout' %}?next=/" class="item">Log Out</a>
                </div>
            </div>
        </div>
        <h2 class="ui header">Registered Repos</h2>
        <div class="ui large middle aligned divided relaxed selection list">
            {% for obj in object_list %}
            <a class="item repo_link" href="{% url 'repo_detail' full_name=obj.full_name %}">
                <div class="right floated content">
                    <div class="ui basic button">View Builds</div>
                </div>
                <div class="content">
                    <span class="header repo_link">{{ obj.full_name }}</span>
                    <span class="description build_count">{{ obj.builds_count }} Build{{ obj.builds_count|pluralize }}</span>
                </div>
            </a>
            {% endfor %}
        </div>

        <h2 class="ui header">Available Repos</h2>
        <div class="ui large divided relaxed selection list">
            {% for obj in repos %}
            <a class="item available_repo" href="{% url 'process_repo' full_name=obj.full_name %}">
                <div class="right floated content">
                    <div class="ui primary button">Start Linting</div>
                </div>
                <div class="content">
                    <span>{{ obj.full_name }}</span>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$('.available_repo, .repo_link').on('click', function(e){
   $(this).find('.button').addClass('loading');
});
</script>
{% endblock %}