{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}

{% block title %}Linty - {{ object.full_name }}{% endblock %}

{% block body %}
    <div class="ui text menu">
        <div class="ui item">
            <div class="ui large breadcrumb">
                {% if user.is_authenticated %}
                    <a href="{% url 'repo_list' %}" class="section">Dashboard</a>
                    <i class="right chevron icon divider"></i>
                {% endif %}
                <div class="active section">{{ object.full_name }}</div>
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="ui right dropdown item">
                {{ user.username }}
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="
                            {% url 'logout' %}{% if not object.is_private or is_owner %}?next={{ request.path }}{% endif %}"
                       class="item">Log Out</a>
                </div>
            </div>
        {% else %}
            <div class="ui right item">
                <a href="{% url 'login' %}" class="ui blue basic button">Log in</a>
            </div>
        {% endif %}
    </div>

    {% if is_owner %}
        <div class="ui text menu">
            <div class="ui item">
                <img class="linty-badge" src="{{ badge_url }}"/>
                <div class="ui action input">
                    <input id="badge_input" type="text" readonly
                           value="[![Linty]({{ badge_url }})]({{ absolute_url }})">
                    <button class="ui teal right icon button copy_button" data-clipboard-target="#badge_input"
                            data-variation="inverted" data-position="top center">
                        <i class="copy icon"></i>
                    </button>
                </div>
            </div>
            <div class="ui right item">
                <div id="stop_linting" class="ui red button">
                    Stop Linting this Repo
                </div>
            </div>
        </div>
    {% endif %}

    <h2 class="ui header">Builds</h2>
    {% if builds %}
        <table class="ui very basic selectable table">
            <thead>
            <tr>
                <td>Status</td>
                <td>Branch</td>
                <td>SHA</td>
                <td>Time</td>
            </tr>
            </thead>
            <tbody>
            {% for build in builds %}
                <tr>
                    <td>
                        <div class="ui text {% if build.status == 'success' %}green{% elif build.status == 'pending' %}yellow{% else %}red{% endif %}">
                            <i class="large icon {% if build.status == 'success' %}check{% elif build.status == 'pending' %}warning triangle{% else %}warning circle{% endif %}"></i>
                            {{ build.status }}
                        </div>
                    </td>
                    <td>
                        <a href="{% url 'build_detail' pk=build.pk %}">{{ build.ref }}</a>
                    </td>
                    <td>
                        <i class="github middle aligned icon"></i>
                        {{ build.short_sha }}
                    </td>
                    <td>{{ build.created_at|naturaltime }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Builds will show here once you push commits to the repo.</p>
    {% endif %}

    {% include 'interface/repo_pagination.html' %}

    <div id="stop_linting_modal" class="ui small basic modal">
        <div class="ui icon header">
            <i class="archive icon"></i>
            Stop Linting
        </div>
        <div class="content">
            <p>
                Are you sure you want to stop linting "<b>{{ object.full_name }}</b>"?
                All previous builds will be preserved, but future builds will cease.
            </p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                No
            </div>
            <div id="confirm_button" class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
    <script type="text/javascript">
        $.fn.api.settings.api = {
            'stop_linting': '{% url "repo_delete" full_name=object.full_name %}'
        };
    </script>
    <script type="text/javascript" src="{% static 'js/repo_detail.js' %}"></script>
{% endblock %}
