{% load humanize %}

<a href="{% url 'repo_list' %}">Back to Repos</a>

<h2>{{ object.full_name }}</h2>

{% if owner %}
<a href="{% url 'delete_repo' full_name=object.full_name %}">Stop Linting this Repo</a>

<p>
    <label>
        Badge (Markdown):
        <input name="badge" type="text" readonly value="[![Linty]({{ badge_url }})]({{ absolute_url }})">
    </label>
    <img src="{{ badge_url }}" />
</p>

{% endif %}

<h3>Builds</h3>
<ul>
    {% for build in builds %}
        <li>
            <a href="{% url 'build_detail' pk=build.pk %}">
                {{ build.short_sha }}: {{ build.ref }} - {{ build.status }} - {{ build.created_at|naturaltime }}
            </a>
        </li>
    {% endfor %}
</ul>
